*{
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}
:root{
    --font-fam--: Arial, Helvetica, sans-serif;
    
}
a{
    text-decoration: none;
    color: rgb(90 88 88);
}
header{
    width: 100%;
    min-height: 10dvh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    outline: 2px solid rgb(36, 36, 36);
    
}
header > div{
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    font-family: var(--font-fam--);
    color: rgb(16 64 139);
    font-size: calc(.5vw + .7rem);
}
header > div div{
    margin: 10px 20px;
    font-size: 1rem;
}
header h2{
    font-size: calc(.5vw + .7rem);
} 
header svg{
     margin-right: 5px;
     width: 15px;
     fill: rgb(90 88 88);;
}  
header a:hover,header a:hover svg{
    text-decoration: underline;
    color: black;
    
}
.section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: name-bord 4s linear 0s 1 none;
    overflow: hidden;
}
.section-1 h1{
    font-size: 4rem;
    margin-top: 20px;
    color: rgb(16 64 139);
    text-align: center;
}
.section-1 h1 + p{
    font-size: 2rem;
    color: rgb(16 64 139);
    text-align: center;
}
.section-1 div p {
    margin-top: 10px;
    font-family: "Domine",serif;
    font-size: 1rem;
}
.section-2{
    width: 100%;
    display: flex;
    justify-content: center;
    background: white;
    overflow: hidden;
}
.section-2 > div{
    width: 80%;
    overflow: hidden;
    display: flex;
    background: none;
}

.cercle-2{
    height: 35VW;
    width: 35VW;
    margin-left: -12vw;
    margin-top: 10vw;
    border-radius: 20VW;
    background-color: YELLOW;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: c-2 2s linear 0s 1 none;
}
.HAJ{
    font-size: 5REM;
}
.UMR{
    font-size: 3REM;    
}
.PKG{
    font-family: var(--font-fam--);
    font-size: 2rem;
}
   .cercle-1{

    height: 40VW;
    width: 40VW;
    margin-left: -9vw;
    margin-top: -9vw;
    border-radius: 20VW;
    background-color: lightblue;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: c-1 2s linear 0s 1 none;
}
.cercle-1 p {
    font-size: 1.8rem;
    margin-left: 80px;
    font-family: var(--font-fam--);
}
.cercle-3{
    height: 25VW;
    width: 25VW;
    margin-left: -9vw;
    border-radius: 20VW;    
    background-color: rgb(134, 230, 134);
    z-index: 2;
    animation: c-3 2s linear 0s 1 none;
}
.cercle-4{
    height: 15VW;
    width: 15VW;
    margin-left: -9vw;
    border-radius: 20VW;
    background-color: rgb(219, 124, 176);
    z-index: 4;
    margin-top: -8vw;
    animation: c-4 2s linear 0s 1 none;
} 
